:root {
    --font-color: #333;
    --background-color: #eee;
}

body {
    font-family: Consolas, sans-serif;
    color: var(--font-color);
    background: var(--background-color);
}

::selection {
    background: yellow;
    color: black;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    padding-right: 270px;
    min-width: 250px;
}

h3 {
    margin-top: 0;
}

input {
    background: transparent;
    border: 1px solid #333;
    padding: 4px;
    border-radius: 3px;
    outline: none;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin: 0 5px;
}

input:focus {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
}

button {
    font-family: Consolas, sans-serif;
    border: 1px solid grey;
    background: transparent;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background .1s ease-out, box-shadow .1s ease-out;
    outline: none;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
}

button:hover {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
    transition-duration: 0;
}

button:active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-weight: 100;
    font-size: 28px;
}